/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.site-header .or {
  margin-left: 1px;
  margin-right: 2px;
}
.site-header .human {
  color: #5cb85c;
}
.site-header .robot {
  color: #d9534f;
}
.site-header a {
    color: #333;
    text-decoration: none;
}

.site-header a:hover, a:focus {
    color: #333;
    text-decoration: none;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.jumbotron h1 {
  font-size: 50px;
}

/* Arena formatting: */
.arena .artifact {
  text-align: left;
  margin-bottom: 2em;
  word-wrap: break-word;
  font-size: 125%;

  /* word wrapping for <pre> tag: */
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.arena .artifact::selection {  /* giveaway */
  background-color: #222;
  color: #d9332f;
}

.arena .artifact.literature {  /* literature */
  font-family: 'Lora', serif;
  font-style: italic;
}
.arena .artifact.literature::first-letter {
  font-size: 300%;
}

.arena .artifact.code {  /* source code */
  font-size: 105%;
  font-family: 'Ubuntu Mono';
}

.tooltipDiv {
  text-align: center;
  display: none;
  z-index: 101;
  background-color: #222;
  color: #eee;
  border: 1px solid #aaa;
  padding: 8px;
  border-radius: 7px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game-list .game .modes .btn {
  min-width: 130px;
}

.scoreboard {
  font-size: 150%;
  font-weight: bold;
}
.scoreboard .scores {
  font-size: 90%;
  font-weight: normal;
}
.scoreboard .scores .score {
  font-weight: bold;
}
.scoreboard .scores .score.winning {
  /* color: #5cb85c; */
}
.scoreboard .scores .score.losing {
  /* color: #d9534f; */
}
.scoreboard .result {
  display: none;
}
.scoreboard .result#correct {
  color: #5cb85c;
}
.scoreboard .result#incorrect {
  color: #d9534f;
}

/* Supporting marketing content */
.decision {
  min-width: 250px;
  margin: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header,.scoreboard {
    margin-bottom: 20px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
